# Development-only Ed25519 private key (Dalek test vector).
# Generate production keys with: cargo run -p pointer-license-gen -- gen-keypair
# NEVER commit production private keys.
YRF5hNpiM4-tF1JoqXj44PVXM23RQS7scJ9XVb4Rq
